div.month {
	width: 880px;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

div.monthHeading {
	background-color: #2d882d;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}
div.week {
	border-bottom: 1px solid black;
	overflow: auto;
}
div.day {
	width: 14%;
	height: 60px;
	float: left;
	border-left: 1px solid black;
}
div.red {
	color: red;
}
div.notInMonth {
	color: #ccc;
	font-size: small;
}
div.today {
	background-color: #ccc;
}