div.gameBoard {
	border: 1px solid #333;
}

div.players {
	width: 100%;
}

div.player,div.player-active {
	float: left;
    width: 18%;
    margin: 5px;
    padding: 5px;
}

div.player-active {
	border: 1px dashed #333;
}

div.info {
	width: 100%;
	overflow: auto;
	margin: 5px;

}

div.diceHolder {
	height: 35px; 
}

fieldset {
	width: 300px;
}


