@import url(http://fonts.googleapis.com/css?family=Roboto:700);
.movieInfo{}

.movieAbout{
	overflow: auto;
}

.moviePoster{
	float: left;
	width: 200px;
	margin: 0px;
}


/**
 * movieHeader
 *
 */
.movieHeader{
	width: 500px;
	float: left;
	padding:10px;
	padding-top: 0px;
}
.movieTitle{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 200%;
	text-transform: uppercase;
}
.movieDirector{
	font-style: italic;
	margin-bottom: 10px;
	color: #888;
}
.movieDirector a{
	color: inherit;
}
.movieDirector a:hover{
	color: #cc3333;
}


/**
 * moviePlot
 *
 */
.moviePlot{
	width: 500px;
	float: left;
	padding: 10px;
}
.movieGenres{
 	font-weight: bold;
}
.movieGenres a{
 	font-weight: normal;
}


/**
 * movieDetails
 *
 */
.movieDetails{
	border-left: 1px solid #222;

	width: 240px;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
}
.movieDetails div{
	margin: 0px;
	padding: 0px;
	padding-bottom:10px;
}
.rent{
	text-align: center;
}
div.rent input{
	margin-top: 25px;
	padding: 10px;
	border: 2px solid #222;
	border-radius: 18px;
	background-color: #222;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
div.rent input:hover{
	background-color: #cc3333;
}
.movieDetails .title{
	font-weight: bold;

}

.movieYoutube{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
