
/** --------------------------------------------------------------
 * Movies: Every seperate movie
 *
 */
 div.movieOverview{
  overflow: auto;
 }
  div.movie{
  	width: 240px;
  	float:left;
  	margin: 2px;
  	
  }
  div.movie img{
  	display: block;
      margin-left: auto;
      margin-right: auto;
  }
  div.movie .aboutMovie{
  	min-height: 6em;
  }
  div.movie .title{
  	display: block;
  	text-align: center;
  	font-weight: bold;
  }
  div.movie .director {
  	display: block;
  	text-align: center;
      font-style: italic;
      font-size: 0.9em;
  }
  div.movie .year {
  	display: block;
  	text-align: center;
  	font-size: 0.95em;
  }


/** -------------------------------------------------------------
 * Shadow...
 *
 */
  img.shadow{
    opacity: 1;
    border-radius: 4px 4px;
  }
  img.shadow:hover{
    opacity: 0.6;
    border-radius: 4px 4px;
  }




.totalResults{
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  margin-top: 10px;
}

.noTrailingSpace{
    -webkit-margin-after: 0.2em;
}

/** --------------------------------------------------------------
 * OverviewSearch
 *
 */
 button.search{
  border: 1px solid #444;
  border-radius: 7px;
  padding: 5px;
  width: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: smaller;
  text-transform: uppercase;
 }
.overviewMovies .searchbox{
  border: 1px solid #777;
  border-radius: 7px
}
.overviewMovies{
  border: 2px solid #333;
  border-radius: 15px;
  padding: 10px;
}
.overviewSearch{


}
.overviewGenre{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}
.overviewSort{

}
.showAll{
  float: right;

}
.sortlist ul{

}
.overviewGenre ul.genreList li{
  background-color: #222;
  text-align: center;
  padding: 5px;
  margin: 2px;
}
.overviewGenre ul.genreList li:first-child{
  background-color: #222;
  text-align: center;
  padding: 5px;
  margin: 2px;
}
.overviewGenre ul.genreList li:hover{
  background-color: #ccc;
}


nav.galleryDropDown{
  text-align: right;
  margin: 10px 0px 10px 0px;
  color: #666;
  font-size: 0.85em;
  text-decoration: none;
}
div.overviewPageNavigation{
	text-align: center;
	clear: left;
}

/** --------------------------------------------------------------
 * Navbar: Plain style, nothing special
 *
 */
ul.genreList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.genreList li {
  padding: 0 0 0 2px;
  margin: 5px;
  display: inline;
  border-radius: 2px;
}

ul.genreList li:first-child {
  padding-left: 0;
}

ul.genreList li.selected a {
  margin-right: 0px;
  margin-left: 0px;
}    

ul.genreList a {
  padding: 1px 1px 1px 1px;
  color: #333;
  margin-right: 1px;
  margin-left: 1px;
  text-decoration: none;
  text-transform: lowercase;
}  

ul.genreList a:hover {
  margin-right: 1px;
  margin-left: 1px;
  text-decoration: none;
}


.orderby a, .menu a {
  text-decoration: none;
  color: black;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.editLink a {
  font-size: 0.85em;
  color: #666;
}




/** --------------------------------------------------------------
 * Navbar: Plain style, nothing special
 *
 */
ul.sortList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.sortList li {
  padding: 3px;
  margin: 2px;
  display: inline;
}
ul.sortList li:hover {

  background-color: #ccc;
}

ul.sortList li:first-child {
  padding-left: 0;
}

ul.sortList li.selected {
  background-color: #999;
}    

ul.sortList a {

  color: #333;

  text-decoration: none;
  text-transform: lowercase;
}  

ul.sortList a:hover {
  text-decoration: none;
}

.orderby a, .menu a {
  text-decoration: none;
  color: black;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.editLink a {
  font-size: 0.85em;
  color: #666;
}