@import url(http://fonts.googleapis.com/css?family=Roboto:400);

div.homePoster{
	width: 980px;
	height: 350px;
	position: relative;
}
.homeOpac,
.homeBgImage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.homeOpac{
	margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 880px;
    margin: 50px;
    background-color: red;

}
.homeBgImage{
	z-index: 10;
}
div.homeInfo{
	position: absolute;
}



ul.genreList li:first-child{
	padding-left: 7px;
}
ul.genreList li{
	background-color: #222;
	text-align: center;
	padding: 7px;
	margin: 2px;
}
ul.genreList li a{
	background-color: inherit;
	display: inline-block;
  	color: #fff;
	font-family: 'Roboto', sans-serif;
  	font-weight: 400;
  	font-size: smaller;
  	text-transform: uppercase;
}
ul.genreList li:hover{
	background-color: #ccc;
}



.blogWidget{
	overflow: auto;
}
.widgetPost{
	float: left;
}
.widgetPost h1{
	font-size: 100%;
	margin-bottom: 0px;
}
.subHeader{
	font-style: italic;
	font-size: 80%;
	color: #666;
}
.widgetPost p strong{
	font-weight: normal;
}
.threeParted{
	width: 30%;
	margin: 10px;
}