#navbar {
  float: left;
}

#searchbox {
  float: right;
}

#navigation {
  width: 100%;
  overflow: auto;
  border-bottom: solid 1px red; /* inner top border */
  background-color: yellow;
}


/** --------------------------------------------------------------
 * Navbar: Plain style, nothing special
 *
 */
ul.nb-plain {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.nb-plain li {
  padding: 0 0 0 1em;
  margin: 0;
  display: inline;
}

ul.nb-plain li:first-child {
  padding-left: 0;
}

ul.nb-plain li.selected a {
  margin-right: 0px;
  margin-left: 0px;
  background-color: red;
}    

ul.nb-plain a {
  padding: 1px 4px 1px 1px;
  color: #333;
  margin-right: 1px;
  margin-left: 1px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}  

ul.nb-plain a:hover {
  margin-right: 1px;
  margin-left: 1px;
  text-decoration: none;
  background-color: pink;
}

.orderby a, .menu a {
  text-decoration: none;
  color: black;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.editLink a {
  font-size: 0.85em;
  color: #666;
}