.navbar {
float: left;
}

#searchbox {
position: absolute;
bottom: 15px;
right: 15px;
}

#navigation {
  width: 100%;
  background-color: #222;
  color: #fff;
  position: absolute;
}

#navContainer{
  position: relative;
  height: 52px;
}

/** --------------------------------------------------------------
 * Navbar: Dropdown menu
 *
 */
 
.navbar ul {
  list-style: none; 
  margin: 0; 
  padding: 0;
}
 
.navbar li {
  display: inline-block;
  color: #fff; 
  position: relative; 
}
 
.navbar a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: inherit;
  white-space: nowrap; 
}
.navbar a:hover {
  text-decoration: none;
  color: inherit;
  background-color: #ccc;
  white-space: nowrap; 
}

.navbar li:hover {
  border-color: #666;
  text-decoration: none;
} 
 
.navbar li.selected-parent, 
.navbar li.selected {
  
}

.navbar ul ul {
  background-color: #fff; 
  padding: 8px; 
  position: absolute; 
  left: -9999px; 
  z-index: 2;
}
 
.navbar li li {
  border-top: none;  
  border-left: 4px solid transparent;  
}

.navbar li:hover ul {
  left: 0;
}
 
.navbar li li:hover {
  color: #666; 
  border-color: #666;
}

.navbar li li.selected {
  color: red; 
  background-color: green;
}

.italic {
  font-style: italic;
}

.orderby a, .menu a {
  text-decoration: none;
  color: black;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.editLink a {
  font-size: 0.85em;
  color: #666;
}