/**
 * MAIN STYLESHEET
 */
@import url(navigation.css);


/* HTML5 ELEMENTS */
  header,footer,nav,article,section,aside,figure,figcaption,output{display:block;}

/**
 * General elements
 */
html {
  margin: 0;
  padding: 0;
  overflow-y:scroll; /* Always display the scrollbar, avoid flipping pages */
}
body {
  color: #333;
  font-family: arial, sans-serif;
  margin: 0;
}
 
/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 980px; 
  padding: 0 auto;
}
.subtitle{
  margin-top: -10px;
  font-style: italic;
}
 
 
/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 10px;
}
#headerBg{
  width: 100%;
  height: 57px;
  position: absolute;
  background-color: #222;
}
 
.sitetitle {
  position: absolute;
  top: 6px;
  left: 130px;
  font-size: 48px;
}
 
.siteslogan {
  position: absolute;
  top: 65px;
  left: 130px;
  font-style: italic;
  color: #666;
}

 
 
/**
 * Layout for main
 */
#main {
  min-height: 20em;
}
 
 
/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding: 15px;
}
 
.sitefooter {
  color: #666;
}
.imdb{
  text-align: center;
}
.smallText{
    color: #666;
    font-size: 0.85em;
    text-decoration: none;
}
.smallText a{
    color: #666;
    font-size: 0.85em;
    text-decoration: none;
}
.smallText a:hover{
    color: #333;
}
.center{
  text-align: center;
}

/**------------------------------------------------------- 
 * Layout
 *
 */
aside{
  overflow: auto;
  width: 200px;
}
.hasSide{
  width : 760px;
}
.main{
  overflow: auto;
}
.right{ 
  float: right;
}
.left{
  float: left;
}
.failure{
  color: red;
}
.success{
  color: green;
}
